.section {
    margin: 12vw 10vh;
    padding: 90px;
    flex-direction: column;
    text-align: center;
}

.section > div:first-child {
    font-weight: 500;
}

.section h1 {
    font-size: 30px;
    margin: 10px 0;
}

.section > div:nth-child(3) {
    font-size: 19px;
    width: 580px;
    line-height: 30px;
    margin: 10px 0;
}

.section button {
    font-size: 12px;
    color-scheme: dark;
    background-color: black;
    padding: 1em 1.5em;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.section > div:last-child {
    font-size: 12px;
}

.section > div:nth-child(4) {
    margin: 20px 0;
    align-items: flex-end;
    gap: 6px;
}
