.section {
    margin: 5vh 8vw;
}

.section > h2 {
    margin: 50px 35px;
    font-size: 40px;
}

.cards {
    gap: 30px;
    overflow-x: auto;
    height: 250px;
    scroll-behavior: smooth;
    justify-content: flex-start;
}

.card {
    min-width: 300px;
    padding: 20px 30px;
    border-radius: 15px;
    font-size: 13px;
    display: inline-block;
}

.card > div:nth-child(2) {
    font-weight: 700;
    margin: 10px 0;
}

.card > div:nth-child(3) {
    font-size: 12px;
    line-height: 19px;
}
